langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-chroma
tqdm
torch
sentence-transformers
streamlit
underthesea
rank-bm25
FlagEmbedding
pymongo
langsmith
qdrant-client